body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

#bandeiras {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#bandeiras div {
    margin: 20px;
    text-align: center;
}
